<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>419795005231-52lmg13lbu2i5gvigjk29ebii2e5j3e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419795005231-52lmg13lbu2i5gvigjk29ebii2e5j3e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCCHDzC3X6HtDHiDulspWsbWhfp5jKi_vc</string>
	<key>GCM_SENDER_ID</key>
	<string>419795005231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teknasyon.boun</string>
	<key>PROJECT_ID</key>
	<string>boun-5a861</string>
	<key>STORAGE_BUCKET</key>
	<string>boun-5a861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419795005231:ios:5e37c641a361fe99</string>
	<key>DATABASE_URL</key>
	<string>https://boun-5a861.firebaseio.com</string>
</dict>
</plist>